# Core functionality - changes here should be rare!
/src/app.py                   @karimhbadr1
/src/backend/database.py      @karimhbadr1
/src/backend/routers/auth.py  @karimhbadr1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @karimhbadr1
